[Unit]
Description=Music Utility Web Application
After=syslog.target

[Service]
SyslogIdentifier=musicutility	
WorkingDirectory=/home/musicutility/application/
ExecStart=/bin/bash -c "export MUSIC_LOCATION='/srv/public/mount/'; export LC_ALL='en_US.UTF-8'; java -jar /home/musicutility/application/controller.jar"
User=musicutility
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
