[Unit]
Description=Music Utility Web Application
After=syslog.target

[Service]
SyslogIdentifier=musicutility	
WorkingDirectory=/home/atomicpi/application/
ExecStart=/bin/bash -c "export MUSIC_LOCATION='/srv/public/mount/'; export LC_ALL='en_US.UTF-8'; java -jar /home/atomicpi/application/controller.jar"
User=atomicpi
Type=simple
[Install]
WantedBy=multi-user.target
