<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link  type="text/css"  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Music Utility</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Music List Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="playremote.html">Play Remote</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="playstreaming.html">Play Local</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-app="DemoApp" ng-controller="MusicStreamingController">
    <h2>Music List Management</h2>

        <div class="row">
            <div class="col">
                <h3>New Music List Label</h3>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newMusicList.label">
                </div>
                <button type="button" class="btn btn-primary" ng-click="createMusicList()">Create New Music List</button>
                </div>
        </div>
    <br/>
        <div class="row">
            <div class="col">
                <div class="form-group">

                    <h3>Current Music List:</h3>
                    <select
                            class="form-control inputstl"
                            id="musicList" ng-model="configuration.currentMusicList"
                            ng-options="musicList as musicList.label for musicList in configuration.musicLists track by musicList.id">
                    </select>
                </div>
            </div>
        </div>
    <br/>
        <div class="row">
            <div class="col">
                <div ng-style="{'visibility': configuration.currentMusicList == {} ?'hidden':'visible'}">
                    <button type="button" class="btn btn-warning" ng-click="updateCurrentMusicList()">Update Music List</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteCurrentMusicList()">Delete Music List</button>
                </div>
            </div>
        </div>
    <br/>
    <div class="row">
        <div class="col">

            <h3>Current Music List Label</h3>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="configuration.currentMusicList.label">
            </div>
        </div>
    </div>
    <br/>
        <div class="row">
            <div class="col-lg-auto">
                <h3>Current Music Files in List</h3>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action"
                       ng-repeat="musicFile in configuration.currentMusicList.musicFiles"
                       ng-click="deleteMusicFile(musicFile)">{{musicFile.label}}</a>
                </div>
            </div>
            <div class="col-lg-auto">
                <h3>Available Music Files in List</h3>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action"
                       ng-repeat="musicFile in configuration.musicFiles"
                         ng-click="addMusicFile(musicFile)">{{musicFile.label}} <br/> <small>{{musicFile.path}}</small></a>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module("DemoApp", []);
        app.factory('SharedDataService', function ($http) {

            var configuration = {
                musicLists: {},
                musicFiles: {},
                currentMusicList: {},
                currentMusicFile: {}
            };


            getMusicLists = function () {
                return $http.get("api/musiclists").then(
                    function successCallback(response) {
                        configuration.musicLists = response.data;
                        configuration.currentMusicList = configuration.musicLists[0];
                        configuration.currentMusicList = {};

                        return configuration.musicLists;
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            };

            getMusicFiles = function () {
                return $http.get("api/musicfiles").then(
                    function successCallback(response) {
                        configuration.musicFiles = response.data;
                        return configuration.musicFiles;
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            };

            deleteMusicList = function (musicListId) {
                return $http.delete("api/musiclists/" + musicListId).then(
                    function successCallback(response) {
                        getMusicLists().then(function () {
                            return configuration;
                        });
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            }

            createMusicList = function (musicList) {
                return $http.post("api/musiclists", JSON.stringify(musicList)).then(
                    function successCallback(response) {
                        getMusicLists().then(function () {
                            var findIndex = 0;
                            angular.forEach(configuration.currentMusicList, function (musicList, index) {

                                if (response.id == configuration.currentMusicFile.id) {
                                    findIndex = index;
                                }
                            });
                            configuration.currentMusicList = configuration.musicLists[findIndex];
                            return configuration;
                        });
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            }

            updateMusicList = function (musicListId, musicList) {
                return $http.put("api/musiclists/" + musicListId, JSON.stringify(musicList)).then(
                    function successCallback(response) {
                        getMusicLists().then(function () {
                            var findIndex = 0;
                            angular.forEach(configuration.currentMusicList, function (musicList, index) {

                                if (musicList.id == configuration.currentMusicFile.id) {
                                    findIndex = index;
                                }
                            });
                            configuration.currentMusicList = configuration.musicLists[findIndex];
                            return configuration;
                        });
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            }

            deleteMusicFile = function (musicListId, musicFileId) {
                return $http.delete("api/musiclists/" + musicListId + "/musicfiles/" + musicFileId).then(
                    function successCallback(response) {
                        getMusicLists.then(function () {
                            var findIndex = 0;
                            angular.forEach(configuration.currentMusicList, function (musicList, index) {

                                if (musicList.id == configuration.currentMusicFile.id) {
                                    findIndex = index;
                                }
                            });
                            configuration.currentMusicList = configuration.musicLists[findIndex];
                            return configuration;
                        });
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            }

            addMusicFile = function (musicListId, musicFile) {
                return $http.post("api/musiclists/" + musicListId + "/musicfiles/").then(
                    function successCallback(response) {
                        getMusicLists.then(function () {
                            var findIndex = 0;
                            angular.forEach(configuration.currentMusicList, function (musicList, index) {

                                if (musicList.id == configuration.currentMusicFile.id) {
                                    findIndex = index;
                                }
                            });
                            configuration.currentMusicList = configuration.musicLists[findIndex];
                            return configuration;
                        });
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            }


            return {
                getCurrentMusicFile: function () {
                    return configuration.currentMusicFile;
                },
                setCurrentMusicFile: function (musicFile) {
                    configuration.currentMusicFile = musicFile;
                },
                getCurrentMusicList: function () {
                    return configuration.currentMusicList;
                },
                setCurrentMusicList: function (musicList) {
                    configuration.currentMusicList = musicList;
                },
                getMusicLists: function () {
                    return configuration.musicLists;
                },
                setMusicLists: function (musicLists) {
                    configuration.musicLists = musicLists;
                },
                getConfiguration: function () {
                    return configuration;
                },
                getMusicLists: getMusicLists,
                getMusicFiles: getMusicFiles,
                updateMusicList: updateMusicList,
                deleteMusicList: deleteMusicList,
                createMusicList: createMusicList
            };
        });


        app.controller("MusicStreamingController", function ($scope, $q, SharedDataService) {


            $scope.newMusicList = {
                "label":"",
                "musicFiles":[]
            };

            $q.all([
                SharedDataService.getMusicLists(),
                SharedDataService.getMusicFiles(),
            ]).then(function (result) {
                $scope.configuration = SharedDataService.getConfiguration();

                $scope.configuration.currentMusicList = $scope.configuration.musicLists[0];

                $scope.updateCurrentMusicList = function()
                {
                    SharedDataService.updateMusicList($scope.configuration.currentMusicList.id, $scope.configuration.currentMusicList);
                }

                $scope.deleteCurrentMusicList = function()
                {
                    SharedDataService.deleteMusicList($scope.configuration.currentMusicList.id);
                }

                $scope.addMusicFile = function(targetMusicFile)
                {

                    var findIndex = -1;
                    angular.forEach($scope.configuration.currentMusicList.musicFiles, function (musicFile, index) {

                        if (musicFile.id == targetMusicFile.id) {
                            findIndex = index;
                        }
                    });


                    if (findIndex == -1) {
                        $scope.configuration.currentMusicList.musicFiles.push(targetMusicFile);
                    }

                }

                $scope.createMusicList = function()
                {
                    if($scope.newMusicList.label != "") {
                        SharedDataService.createMusicList($scope.newMusicList);
                    }
                    else
                    {
                        $('.alert').alert("error");
                    }
                }

                $scope.deleteMusicFile = function(targetMusicFile)
                {
                    var findIndex = -1;
                    angular.forEach($scope.configuration.currentMusicList.musicFiles, function (musicFile, index) {

                        if (musicFile.id == targetMusicFile.id) {
                            findIndex = index;
                        }
                    });


                    if (findIndex != -1) {
                        $scope.configuration.currentMusicList.musicFiles.splice(findIndex, 1);
                    }

                }


            });

        });

    </script>
</body>
</html>