


    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Music Utility</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Music List Management</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="playremote.html">Play Remote</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="playstreaming.html">Play Local</a>
                </li>
            </ul>
        </div>
    </nav>

    <div  ng-app="DemoApp" ng-controller="MusicStreamingController" >
        <h2>Streaming (Play Local)</h2>

        <div >
            <audio id="audio" controls onended="angular.element(this).scope().triggerNextMusicFile()"></audio>
            <h3>Current Playing {{configuration.currentMusicFile.label}}</h3>
        </div>


            <div class="form-group">
                <label for="musicList" class="col-sm-2 control-label">Current Music List:</label>
                <select
                        class="form-control inputstl"
                        id ="musicList"  ng-model="configuration.currentMusicList" ng-options="musicList as musicList.label for musicList in configuration.musicLists track by musicList.id" >
                </select>
            </div>

            <div class="list-group list-group-flush" >
                <a href="#" class="list-group-item list-group-item-action" ng-repeat="musicFile in configuration.currentMusicList.musicFiles" id={{musicFile.id}} ng-click="triggerMusicFile(musicFile)" ng-class="{'active' :musicFile.id == configuration.currentMusicFile.id}" >{{musicFile.label}}</a>
            </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script>
        var app = angular.module("DemoApp", []);
        app.factory('SharedDataService', function($http){

            var  configuration = {
                musicLists: {},
                currentMusicList: {},
                currentMusicFile: {}
            };


            getMusicLists = function() {
                return $http.get("api/musiclists").then(
                    function successCallback(response) {
                        configuration.musicLists = response.data;
                        configuration.currentMusicList = configuration.musicLists[0];
                        return configuration;
                    },
                    function errorCallback(response) {
                        console.log("Unable to perform get request");
                    }
                );
            };

            return {
                getCurrentMusicFile: function()
                {
                    return configuration.currentMusicFile;
                },
                setCurrentMusicFile: function(musicFile) {
                    configuration.currentMusicFile = musicFile;
                },
                getCurrentMusicList: function() {
                    return configuration.currentMusicList;
                },
                setCurrentMusicList: function(musicList) {
                    configuration.currentMusicList= musicList;
                },
                getMusicLists: function() {
                    return configuration.musicLists;
                },
                setMusicLists: function(musicLists) {
                    configuration.musicLists= musicLists;
                },
                getConfiguration: getMusicLists
            };
        });

        app.factory('audio', function($document) {
            var audioElement = $document[0].getElementById('audio');
            audioElement.autoPlay = true; // as per your requirement

            return {
                audioElement: audioElement,

                play: function(filename) {
                    audioElement.src = filename;
                    audioElement.play();
                },
                resume: function() {
                    audioElement.play();
                },
                pause: function() {
                    audioElement.pause();
                },
                stop: function() {
                    audioElement.pause();
                    audioElement.src = audioElement.currentSrc; /** http://stackoverflow.com/a/16978083/1015046 **/
                },
                incVol: function() {
                    if (audioElement.volume < 1) {
                        audioElement.volume = (audioElement.volume + 0.1).toFixed(2);
                    }
                    return audioElement.volume;
                },
                decVol: function() {
                    if (audioElement.volume > 0) {
                        audioElement.volume = (audioElement.volume - 0.1).toFixed(2);
                    }
                    return audioElement.volume;
                },
                timer: function(callback) {
                    audioElement.ontimeupdate = function() {
                        callback(audioElement.duration, audioElement.currentTime)
                    };
                },
            }
        });

        app.controller("MusicStreamingController", function($scope, $interval, SharedDataService, audio) {

            SharedDataService.getConfiguration().then(function(configuration) {
                $scope.configuration = configuration;
                $scope.triggerMusicFile = function (musicFile) {
                    $scope.configuration.currentMusicFile = musicFile;

                    var linkPath = "api/musicstreaming/musiclists/" + $scope.configuration.currentMusicList.id + "/musicfiles/" + musicFile.id;
                    audio.play(linkPath);
                }


                $scope.triggerNextMusicFile = function () {

                    var findIndex = 0;
                    angular.forEach($scope.configuration.currentMusicList.musicFiles, function (musicFile, index) {

                        if (musicFile.id == $scope.configuration.currentMusicFile.id) {
                            findIndex = index;
                        }
                    });

                    findIndex = findIndex + 1;

                    // Recursive to first if the index is greater than array
                    if (findIndex >= $scope.configuration.currentMusicList.musicFiles.length) {
                        findIndex = 0;
                    }

                    $scope.configuration.currentMusicFile = $scope.configuration.currentMusicList.musicFiles[findIndex];
                    var linkPath = "api/musicstreaming/musiclists/" + $scope.configuration.currentMusicList.id + "/musicfiles/" + $scope.configuration.currentMusicFile.id;
                    audio.play(linkPath);
                    $scope.$apply();
                }
            });

        });
    </script>
    </body>
    </html>