[Unit]
Description=Network GIPO Monitor
After=syslog.target

[Service]
SyslogIdentifier=networkgipomon	
WorkingDirectory=/home/musicutility/application/
ExecStart=/bin/bash -c "/usr/bin/python /home/musicutility/application/networkgipomon/networkgipomon.py 0 20"
User=musicutility
Type=simple
[Install]
WantedBy=multi-user.target
