
<script src="../app/app-routing.module.ts"></script>
<div class="card my-5">
  <br>
  <h2>Music Streaming</h2>
  <br>

  <div >
    <audio controls id="audioPlayer" #audioPlayer class="musicutiltiy-mat-full-width" (ended)="setNextMusicFile()">
    </audio>

    <h4 *ngIf="currentMusicFile.label">Current Playing {{currentMusicFile.label}}</h4>
  </div>

  <br>

  <mat-form-field class="musicutiltiy-mat-full-width">
    <mat-label>Current Music List</mat-label>
    <mat-select [(ngModel)] = "currentMusicList">
      <mat-option [value]="musiclist" *ngFor="let musiclist of musiclists" (onSelectionChange)="changeMusicList">
        {{musiclist.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-list  *ngIf="currentMusicList.label" class="musicutiltiy-mat-full-width">
    <h3 mat-subheader>Current Music Files in List</h3>
    <mat-list-item *ngFor="let musicfile of currentMusicList.musicFiles">
      <mat-icon mat-list-icon *ngIf="currentMusicFile.id == musicfile.id">play_arrow</mat-icon>
      <mat-icon mat-list-icon *ngIf="currentMusicFile.id != musicfile.id">music_video</mat-icon>
      <h4 mat-line>{{musicfile.label}}</h4>
      <p mat-line> {{musicfile.path}} </p>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openMusicFileInfoDialog(musicfile)">
          <mat-icon>info</mat-icon>
          <span>Info</span>
        </button>
        <button mat-menu-item (click)="setCurrentMusicFile(musicfile)" *ngIf="currentMusicFile.id != musicfile.id">
          <mat-icon>play_arrow</mat-icon>
          <span>Play</span>
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-list>
</div>
